/*= Card style attributes =*/
.card {
    background: #ff0000;
    border-radius: 2px;
    height: 250px;
    margin: 16px;
    position: relative;
    width: 325px;
    text-align: left;
    box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
}

/*= Card Image Container Styling attributes =*/
.card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: #ffff00;
}

/*= Card Image Width =*/
.card > .img-container > img {
    width: 60%;
}

/*= Cards content styling attributes =*/
.card > .content {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
}