/*= Header styling attributes =*/
.header 
{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #ffff00;
    margin-bottom: 10px;
}

/*= Title styling attributes =*/
.title 
{
    float: left;
}

/*= Scores styling sttributes =*/ 
.scores {
    float: right; 
}